# local API
# NEXT_PUBLIC_API_URL=http://localhost:8080
# NEXT_PUBLIC_BASE_S3_URL=http://localhost:9900

# test server
NEXT_PUBLIC_API_URL=https://richmond-api.akorz.duckdns.org
NEXT_PUBLIC_BASE_S3_URL=https://richmond-s3-api.akorz.duckdns.org
